---
import Layout from "../layouts/Layout.astro";
---

<Layout title="my watchlist">
    <div class="p-4 bg-black max-w-2xl m-auto">
        <div class="bg-black px-4 py-2 border-l-[26px] border-r-[26px] border-dashed border-white">
            <div class="bg-slate-50 p-3 rounded-3xl">
                <h1 class="font-extrabold text-6xl p-8 md:p-28 text-center outline-dotted animate-pulse"> page</h1>
            </div>
            <div class="bg-slate-50 p-3 rounded-3xl mt-8">
                <h1 class="font-extrabold text-6xl p-8 md:p-28 text-center outline-dotted animate-pulse">  not  </h1>
            </div>
            <div class="bg-slate-50 p-3 rounded-3xl mt-8">
                <h1 class="font-extrabold text-6xl p-8 md:p-28 text-center outline-dotted animate-pulse">  found  </h1>
            </div>
        </div>
    </div>

</Layout>
