---
import Layout from "../layouts/Layout.astro";
---

<Layout title="my watchlist">
    <div class="p-4 bg-black max-w-2xl m-auto">
        <div class="bg-black px-4 py-2 border-l-[28px] border-r-[28px] border-dashed border-white">
            <div class="bg-slate-50 p-10 rounded-3xl">
                <h1 class="font-extrabold text-6xl p-3 md:p-32 text-center outline-dotted animate-pulse"> Page not found </h1>
            </div>
        </div>
    </div>

</Layout>
