---
import Layout from "../layouts/Layout.astro";
import { movies } from "../data/movies.ts";
import Poster from "../components/Poster.astro";
---

<Layout title="posters | Janos' watchlist">
    <div x-data="posters">
        <div class="flex justify-between flex-wrap drop-shadow-md">
            <input
                type="text"
                x-on:input="search = $el.value.toLowerCase()"
                class="grow p-1 my-1 text-gray-900 border border-black rounded-l-lg bg-amber-300"
                placeholder="search"
            />

            <div class="inline-flex grow lg:grow-0">
                <button
                    class="border border-black border-l-0 bg-amber-300 text-sm hover:bg-amber-500 text-gray-800 my-1 px-1 grow lg:grow-0"
                    @click="reorder('release')"
                >
                    release date
                </button>
                <button
                    class="border border-black border-l-0 bg-amber-300 text-sm hover:bg-amber-500 text-gray-800 my-1 px-1 rounded-r-lg grow lg:grow-0"
                    @click="reorder('alphabetical')"
                >
                    alphabetical
                </button>
            </div>
        </div>

        <div
            x-ref="grid"
            class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 2xl:grid-cols-5 gap-4 p-2 items-center justify-items-center"
        >
            { movies.map((movie) => ( <Poster movie={movie}/> )) }
        </div>
    </div>
</Layout>

<script>
import Alpine from 'alpinejs';
import { type Movie } from "../data/movies.ts";

document.addEventListener('alpine:init', () => {
    Alpine.data('posters', () => ( {
            search: "",
            selectedMovie: { title: "", release: "", director: "", runtime: -1 },
            sortOrder: -1,
            watchlistData: [],
            reorder(sorter: string) {
                this.getPosters()
                    .sort(this.getSortFn(sorter))
                    .forEach((img) => {
                        this.$refs.grid.appendChild(img);
                    });
            },
            init() {
                fetch('/watchlist.json')
                  .then((response) => response.json())
                  .then((data) => {
                      this.watchlistData = data
                  });
            },
            getPosters() {
                return Array.from(this.$refs.grid.querySelectorAll("img"));
            },
            getSortFn(name: string) {
                switch (name) {
                    case "alphabetical":
                        this.sortOrder = this.sortOrder * -1;
                        return (a: HTMLImageElement, b: HTMLImageElement) => { return this.sortOrder * a.title.localeCompare(b.title); }
                    case "release":
                        this.sortOrder = this.sortOrder * -1;
                        return  (a: HTMLImageElement, b: HTMLImageElement) => { return this.sortOrder * (a.dataset.releasedate as string).localeCompare(b.dataset.releasedate as string); }
                }
            },
        }
    ))
})

Alpine.start();
</script>
