---
import Layout from "../layouts/Layout.astro";
import watchlist from "../data/watchlist.json";
---

<Layout title="posters">
    <div x-data="{ movie: {title: ''} }">

        <dialog x-ref="dialog" class="p-5 border-4 rounded-md  border-amber-300 min-w-[20em]">
            <p x-text="movie['title']" class="py-2 text-xl"></p>
            <form method="dialog">
                <button>OK</button>
            </form>
        </dialog>

        <div class="grid grid-cols-2 md:grid-cols-3 2xl:grid-cols-4 gap-4 p-2 items-center justify-items-center">
        {
            watchlist.map((movie) => (
                <img
                class="w-60 h-auto rounded-lg shadow-xl transition ease-in-out hover:scale-105"
                title={movie.englishTitle}
                src={`/poster/${movie.imdbID}.jpg`}
                alt={`Poster for ${movie.englishTitle}`}
                loading="lazy"
                @click={`movie.title = '${movie.englishTitle.replace("'", "\\'")}'; $refs.dialog.showModal()`}
                />
            ))
        }
        </div>
    </div>
</Layout>
