---
import Layout from "../layouts/Layout.astro";
import  "tabulator-tables/dist/css/tabulator.min.css";
---

<Layout title="my watchlist" isFullWidth={ true }>
    <main class="bg-amber-100 p-1 w-full">
        <div id="tabulator-table"></div>
    </main>
</Layout>

<script>
    import {TabulatorFull as Tabulator} from 'tabulator-tables';

    new Tabulator("#tabulator-table", {
        height:'89vh',
        ajaxURL:"/tabulator.json",
        layout:"fitColumns",
        groupBy:"watchyear",
        columns: [
          {title: "Poster", field: "poster", formatter: "image", width: 68},
          {title: "Title", field: "title", headerFilter:"input", hozAlign:"left", vertAlign:"middle"},
          {title: "Director", field: "director", headerFilter:"input", hozAlign:"center", vertAlign:"middle"},
          {title: "Release", field: "release", headerFilter:"input", hozAlign:"center", vertAlign:"middle", width: 90},
        ],
    });
</script>
