---
import Layout from "../layouts/Layout.astro";
import  "tabulator-tables/dist/css/tabulator_bootstrap4.min.css";
---

<Layout title="my watchlist" isFullWidth={ true }>
    <main class="bg-amber-100 p-1 w-full">
        <div id="tabulator-table"></div>
    </main>
</Layout>

<script>
    import {TabulatorFull as Tabulator} from 'tabulator-tables';
    import { type Formatter } from 'tabulator-tables';

    new Tabulator("#tabulator-table", {
        height:'89vh',
        ajaxURL:"/tabulator.json",
        layout:"fitColumns",
        groupBy:"watchyear",
        columns: [
          {title: "", field: "poster", formatter: "image", width: 65, resizable: false, headerSort: false},
          {title: "Title", field: "title", headerFilter:"input", hozAlign:"left", vertAlign:"middle", headerFilterPlaceholder: "Title"},
          {title: "Director", field: "director", headerFilter:"input", hozAlign:"left", vertAlign:"middle", formatter: "array" as Formatter, formatterParams:{
              delimiter: "<br>"
          }},
          {title: "Release", field: "release", headerFilter:"input", hozAlign:"center", vertAlign:"middle", width: 90},
        ]
    });
</script>
