---
import Layout from "../layouts/Layout.astro";
import  "tabulator-tables/dist/css/tabulator.min.css";
---

<Layout title="my watchlist">
    <h1>tabulator</h1>
    <main class="bg-amber-100 p-1 w-full">
        <div id="tabulator-table"></div>
    </main>
</Layout>

<script>
    import {TabulatorFull as Tabulator} from 'tabulator-tables';

    new Tabulator("#tabulator-table", {
         height:'70vh',
        ajaxURL:"tabulator.json",
         layout:"fitColumns", //fit columns to width of table (optional)
        // autoColumns:true,
        columns: [
          {title: "Poster", field: "poster", formatter: "image"},
          {title: "Title", field: "title"},
          {title: "Director", field: "director"},
          {title: "Release", field: "release"}
        ],
   //       columns:[ //Define Table Columns
         // {title:"Name", field:"name", width:150},
         // {title:"Age", field:"age", hozAlign:"left", formatter:"progress"},
         // {title:"Favourite Color", field:"col"},
         // {title:"Date Of Birth", field:"dob", sorter:"date", hozAlign:"center"},
         // ],
    });
</script>
