---
const activeClass =
    "font-medium hover:bg-gray-700 hover:text-white px-1 py-1 rounded-md bg-gray-900 text-white";
const inactiveClass =
    "font-medium hover:bg-gray-700 hover:text-white px-1 py-1 rounded-md text-gray-900";

const links = [
    { href: "/", text: "list" },
    { href: "/posters/", text: "posters" },
    { href: "/stats/", text: "stats" },
    // { href: "/favs/", text: "favs" },
];
---

<nav>
    <div class="px-4 max-w-7xl mx-auto">
        <div class="flex h-16 items-center justify-between">
            <div class="whitespace-nowrap text-2xl">
                <a class="drop-shadow-lg" href="/"
                    ><span class="font-light">my</span><span
                        class="font-semibold">watchlist</span
                    ></a
                >
            </div>
            <div class="flex space-x-1 lg:text-base text-xs drop-shadow-lg">
                {
                    links.map((link) => (
                        <a
                            href={link.href}
                            class={
                                Astro.url.pathname == link.href
                                    ? activeClass
                                    : inactiveClass
                            }
                            aria-current="page"
                        >
                            {link.text}
                        </a>
                    ))
                }
            </div>
        </div>
    </div>
</nav>
