<nav>
    <div class="px-2 lg:px-8 max-w-7xl mx-auto sm:px-6">
        <div class="flex h-16 items-center justify-between">
            <div class="whitespace-nowrap text-2xl"><a href="/"><span class="font-light">my</span><span
                        class="font-semibold">watchlist</span></a></div>
            <div class="flex lg:space-x-4 lg:text-base text-xs"><a href="/"
                    class="font-medium hover:bg-gray-700 hover:text-white px-2 py-2 rounded-md bg-gray-900 text-white" aria-current="page">movies</a>
                <!-- <a href="/about/" class="font-medium hover:bg-gray-700 hover:text-white px-2 py-2 rounded-md text-gray-800">about</a> -->
            </div>
        </div>
    </div>
</nav>
