---
// import TinyBarChart from './TinyChart';
import SimpleScatterChart from './chart2'
---

    <div class="chart-container">
       <!-- <TinyBarChart client:only="react" /> -->
      <SimpleScatterChart client:visible />
    </div>
