---
import watchlist from "../data/watchlist.json";
const imdbURI = "https://imdb.com/title/";
---

<table class="w-full text-sm text-left text-gray-500">
    <thead  class="h-6 text-gray-700 uppercase text-s bg-gray-50">
        <tr>
          <th>Director</th>
          <th>Title</th>
          <th>Runtime</th>
          <th>Release year</th>
          <th>imdb</th>
        </tr>
    </thead>
{watchlist.map((movie) =>
    <tr class="border-t h-7 hover:bg-gray-100">
        <td>{movie.director.join(", ")}</td>
        <td class="font-semibold">{movie.englishTitle}</td>
        <td class="font-mono text-right" >{movie.runtime}</td>
        <td class="font-mono text-center">{movie.releaseYear}</td>
        <td><a class="hover:bg-[#F5C518] text-black hover:font-black text-sm rounded-lg" href={imdbURI + movie.imdbID} target="_blank">IMDb</a></td>
    </tr>
)}
</table>
