---
---
<div id="daysofyear" class="m-auto"></div>

<script>
import * as Plot from "@observablehq/plot";

interface DayData {
  day: string;
  count: number;
}

const response = fetch("/data/daysofyear.json");
const data = (await response).json() as Promise<DayData[]>;


const months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

const plot = Plot.plot({
  padding: 0,
  y: {
    label: null,
    tickFormat: (d) => months[d],
    domain: Array.from({length: 12}, (_, i) => i)
  },
  x: {
    label: "Day of Month",
    domain: Array.from({length: 31}, (_, i) => i + 1)
  },
  color: {
    scheme: "blues",
  },
  marks: [
    Plot.cell(await data, {
      x: "day",
      y: "month",
      fill: "count",
      inset: 0.5,
    }),
    Plot.tip(await data, Plot.pointerX({title: (y) => `${months[y.month]} ${y.day}\n${y.count}`, x: "day", y: "month", textAnchor: "middle"}))
  ]
});

document.querySelector("#daysofyear")?.append(plot);;
</script>
