---
---

<div id="releaseyearsplot" class="m-auto"></div>

<script>
import * as Plot from "@observablehq/plot";

interface Stat {
  years: string;
  count: number;
}

const div = document.querySelector("#releaseyearsplot")!;

const response = await fetch("/data/releaseyears.json");
const years = await response.json() as Stat[];

const plot = Plot.plot({
  width: 1100,
  height: 250,
  y: {
    grid: true,
    label: null,
    percent: false
  },
  x: {
    type: "band",
    label: null,
    tickRotate: -45,
  },
  marks: [
    Plot.barY(years as Plot.Data, {x: "year", y: "count", fill: "steelblue", ry1: 2, insetLeft: 0, insetRight: 0}),
    Plot.tip(years, Plot.pointerX({title: (y) => `${y.year}\n${y.count}`, x: "year", y: "count", fontSize: 14, textAnchor: "middle"}))
  ]
})

div.append(plot);
</script>
