---
import { movies as watchlist } from "../../data/movies.ts";

const watchYearCounter = new Map<string, number>();
watchlist
  .filter((m) => m.watched)
  .map((m) => m.watched!.substring(0, 4)).forEach((year) => {
    const n = watchYearCounter.has(year) ? watchYearCounter.get(year)! : 0;
    watchYearCounter.set(year, n + 1);
  });

const formattedData = JSON.stringify(Array.from(watchYearCounter, ([key, value]) => ({ year: key, count: value })));
---
<div id="watchyearsplot" class="m-auto" data-years={formattedData}></div>

<script>
import * as Plot from "@observablehq/plot";

interface Stat {
  years: string;
  count: number;
}

const div = document.querySelector<HTMLDivElement>("#watchyearsplot");
const years = JSON.parse(div?.dataset.years as string) as Stat[];

const plot = Plot.plot({
  width: 900,
  height: 250,
  y: {
    grid: true,
    label: null,
    percent: false
  },
  x: {
    type: "band",
    label: null
  },
  marks: [
    Plot.barY(years as Plot.Data, {x: "year", y: "count", fill: "steelblue", ry1: 4, insetLeft: 2, insetRight: 2}),
    Plot.tip(years, Plot.pointerX({title: (y) => y.count, x: "year", y: "count"}))
  ]
})

div.append(plot);
</script>
