---
---

<div id="weekdayplot" class="m-auto"></div>

<script>
import * as Plot from "@observablehq/plot";

interface DayStat {
  day: string;
  count: number;
}

const response = fetch("/data/weekdays.json");
const weekdays = await (await response).json() as DayStat[];

const plot = Plot.plot({
  width: undefined,
  height: 300,
  y: {
    grid: true,
    label: null,
    percent: false
  },
  x: {
    type: "band",
    label: null,
    // keep the original array order; avoid default alphanumerical sorting
    domain: weekdays.map(wd => wd.day)
  },
  marks: [
    Plot.ruleY([0]),
    Plot.barY(weekdays as Plot.Data, {x: "day", y: "count", fill: "steelblue", ry1: 8, insetLeft: 8, insetRight: 8}),
    Plot.tip(weekdays, Plot.pointerX({title: (d) => d.count, x: "day", y: "count"}))
  ]
})

document.querySelector("#weekdayplot")?.append(plot);
</script>
